body {
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 100px;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.stackedForm {
    --form-btn-color-3: #d8f7de;
    --form-btn-color-2: #c2f3ca;
    --form-btn-color-1: #9beb98;
    --form-btn-color: #12a422;
    --form-btn-active-color: #21f438;
    --form-rotation: rotate3d(0, 1, 0, 180deg);
    --form-text-padding-left: 10px;
}

.stackedForm {
    transform: var(--form-rotation);
}

.stackedForm .input,
.stackedForm button {
    width: 100%;
    height: 40px;
    position: relative;
    padding: 10px;
    border: 0.1px solid var(--form-btn-active-color);
}

.stackedForm button {
    background: var(--form-btn-color);
    border: none;
}

.stackedForm button span {
    display: block;
    transform: var(--form-rotation);
}

.stackedForm .wrapper {
    position: relative;
    transform: skewY(-14deg);
}

.stackedForm .wrapper li,
.stackedForm button {
    position: relative;
    list-style: none;
    width: 200px;
    z-index: var(--i);
    transition: 0.3s;
    color: white;
}

.stackedForm .wrapper li::before,
.stackedForm button::before {
    position: absolute;
    content: "";
    background: var(--form-btn-color);
    top: 0;
    left: -40px;
    width: 40px;
    height: 40px;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.3s;
}

.stackedForm .wrapper li::after,
.stackedForm button::after {
    position: absolute;
    content: "";
    background: var(--form-btn-color);
    width: 200px;
    height: 40px;
    top: -40px;
    left: 0;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.3s;
}

.stackedForm .wrapper li:nth-child(1)::after,
.stackedForm .wrapper li:nth-child(1)::before {
    background-color: var(--form-btn-color-3);
}

.stackedForm .wrapper li:nth-child(2)::after,
.stackedForm .wrapper li:nth-child(2)::before {
    background-color: var(--form-btn-color-2);
}

.stackedForm .wrapper li:nth-child(3)::after,
.stackedForm .wrapper li:nth-child(3)::before {
    background-color: var(--form-btn-color-1);
}

.stackedForm li .input {
    outline: none;
    border: none;
    padding: 0;
    padding-left: var(--form-text-padding-left);
    width: calc(100%);
    color: black;
    transform: var(--form-rotation);
}

.stackedForm li .input::placeholder {
    color: black;
}

.stackedForm li:nth-child(1) .input {
    background: var(--form-btn-color-3);
}

.stackedForm li:nth-child(2) .input {
    background: var(--form-btn-color-2);
}

.stackedForm li:nth-child(3) .input {
    background: var(--form-btn-color-1);
}

.stackedForm li:nth-child(1) .input:focus {
    outline: none;
    border: 0px solid var(--form-btn-color-3);
}

.stackedForm li:nth-child(2) .input:focus {
    outline: none;
    border: 0px solid var(--form-btn-color-2);
}

li:nth-child(3) .input:focus {
    outline: none;
    border: 0px solid var(--form-btn-color-1);
}

.stackedForm .wrapper li:hover,
.stackedForm button:hover,
.stackedForm .wrapper li:has(input:focus),
.stackedForm button:focus {
    transform: translateX(-20px);
}

.stackedForm button:hover,
.stackedForm button:hover::before,
.stackedForm button:hover::after,
.stackedForm button:focus,
.stackedForm button:focus::before,
.stackedForm button:focus::after {
    background: var(--form-btn-active-color);
}

.stackedForm button:active {
    transform: translateX(0px);
}

.login-button {
    display: inline-block;
    padding: 12px 30px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
}

.login-button:hover {
    background-color: darkred;
}
