body {
    font-family: IRANSans;
    direction: rtl;
    text-align: center;
    background-color: #000;
}

.container {
    max-width: 800px;
    margin: 40px auto;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image {
    width: 30%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

p {
    font-size: 18px;
    margin-top: 20px;
    color: #fff;
}
